body {
  width: 700px;
  /*height: 17386px;*/
  margin: 0 auto;
  padding-bottom: 100px;
  /*background-image: url(dom_narkomfina_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  color: red;*/
}

h1, h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

p, li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}


/*h1, h2, h3 {
  font-weight: bold;
  letter-spacing: -0.1px;
}

h1 {
  margin-top: 213px;
  font-size: 60px;
  text-align: center;
  letter-spacing: -2.4px;
}

h2 {
  margin-top: 44px;
  font-size: 35px;
  letter-spacing: -0.2px;
}

h3 {
  margin-top: 60px;
  text-align: left;
  font-size: 31px;
  font-weight: normal;
  color: rgba(0,0,0,0.44);
}

p, li {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

p {
  margin-top: 30px;
}

p:first-of-type {
  margin-top: 230px;
}

h2 + p {
  margin-top: 8px;
}

b {
  font-weight: bold;
}

a {
  color: black;
}*/
